/*
.CodeMirror {
    height: 90%;
}

.column {
    height: 100%;
}

.app {
    height: 100%;
}

.ui.segment {
    height: 100%;
}

.ide {
    height: 100%;
}
*/

#innerContainer { 
  width : 100% !important;
}

#body {
    height: 100%;
    overflow: hidden
}

#content {
    width: calc(100% - 150px);
    height: 100%;
}
