/*
.CodeMirror {
    height: 90%;
}

.column {
    height: 100%;
}

.app {
    height: 100%;
}

.ui.segment {
    height: 100%;
}

.ide {
    height: 100%;
}
*/

#innerContainer { 
  width : 100% !important;
}

.fa {
    font-size: large;
    width: 20px;
}